@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.card-title {
    margin-bottom: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

ul {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-right: 0;
    }
}

li {
    width: 33%;
    @include media-breakpoint-down(sm) {
        width: auto;
    }
}