<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'mypage.account.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'mypage.account.read' | translate"></p>

    <ul class="d-md-flex mb-4">
        <li *ngFor="let account of (user | async).accounts" class="my-md-2 mb-3">
            <div class="card mx-md-2 h-100">
                <div class="card-body position-relative">
                    <h5 class="card-title font-weight-bold">{{ 'mypage.account.accountNumber' | translate }}
                    </h5>
                    <p class="card-text mb-3">{{ account.typeOfGood.accountNumber }}</p>
                    <h5 class="card-title font-weight-bold">{{ 'mypage.account.accountName' | translate }} [{{ 'mypage.account.accountType' | translate }}]
                    </h5>
                    <p class="card-text mb-3">{{ account.typeOfGood.name }} [{{ account.typeOfGood.accountType }}]</p>
                    <h5 class="card-title font-weight-bold">{{ 'mypage.account.availableBalance' | translate }}
                    </h5>
                    <p class="card-text mb-3">{{ account.typeOfGood.availableBalance }}</p>
                    <button type="button" class="btn btn-primary" (click)="openChageAccountModal(account)">{{ 'mypage.account.charge' | translate }}</button>
                    <button type="button" class="close" aria-label="Close"
                        (click)="confirmCloseAccount(account)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" (click)="openOpenAccountModal()"
            [disabled]="isLoading | async">{{ 'mypage.account.open' | translate }}</button>
        <button type="button" class="btn btn-link" routerLink="/mypage">{{ 'mypage.credit.prev' | translate }}</button>
    </div>

</div>