<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.input.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.input.read' | translate"></p>

        <div class="p-3 bg-white">
            <form *ngIf="profileForm" [formGroup]="profileForm">
                <div *ngFor="let key of getProfileFormKeys()" class="form-group row">
                    <div class="col-md-4 py-2 text-md-right ">
                        <div class="d-inline-flex align-items-center">
                            <p *ngIf="!getAdditionalProperty(key)">{{ 'form.label.' + key | translate }}</p>
                            <p *ngIf="getAdditionalProperty(key)">
                                {{ getAdditionalProperty(key)?.label | changeLanguage }}</p>
                            <p *ngIf="isRequired(key)" class="badge badge-danger ml-2">{{ 'form.required' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <input
                            *ngIf="key !== 'email' && key !== 'telephone' && key !== 'gender' && !getAdditionalProperty(key)"
                            type="text" class="form-control" [formControlName]="key" [id]="key"
                            [placeholder]="'form.placeholder.' + key | translate">
                        <input *ngIf="key === 'email'" type="email" class="form-control" [formControlName]="key"
                            [id]="key" [placeholder]="'form.placeholder.' + key | translate">
                        <ngx-intl-tel-input *ngIf="key === 'telephone'" #intlTelInput
                            [preferredCountries]="[CountryISO.Japan]" [enableAutoCountrySelect]="false"
                            [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Japan" [maxLength]="15"
                            [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="false"
                            inputId="telephone" name="telephone" formControlName="telephone"></ngx-intl-tel-input>
                        <select *ngIf="key === 'gender'" class="form-control" [formControlName]="key" [id]="key">
                            <option value="">{{ 'form.option.unselected' | translate }}</option>
                            <option value="man">{{ 'form.option.man' | translate }}</option>
                            <option value="woman">{{ 'form.option.woman' | translate }}</option>
                        </select>
                        <input *ngIf="getAdditionalProperty(key) && getAdditionalProperty(key)?.inputType === 'input'"
                            type="text" class="form-control" [formControlName]="key" [id]="key" placeholder="">
                        <textarea
                            *ngIf="getAdditionalProperty(key) && getAdditionalProperty(key)?.inputType === 'textarea'"
                            class="form-control" [formControlName]="key" [id]="key" placeholder=""></textarea>
                        <select *ngIf="getAdditionalProperty(key) && getAdditionalProperty(key)?.inputType === 'select'"
                            class="form-control" [formControlName]="key" [id]="key" placeholder="">
                            <option *ngFor="let option of getAdditionalProperty(key)?.option" [value]="option.value">
                                {{ option.label | changeLanguage }}
                            </option>
                        </select>
                        <div *ngIf="profileForm.controls[key].invalid && profileForm.controls[key].touched"
                            class="mt-2">
                            <p *ngIf="profileForm.controls[key].errors?.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.maxlength" class="text-danger">
                                {{ 'form.validation.maxlength' | translate:{ value:
                                profileForm.controls[key].errors?.maxlength.requiredLength } }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.minlength" class="text-danger">
                                {{ 'form.validation.minlength' | translate:{ value:
                                profileForm.controls[key].errors?.minlength.requiredLength } }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.email" class="text-danger">
                                {{ 'form.validation.email' | translate }}
                            </p>
                            <p *ngIf="profileForm.controls[key].errors?.validatePhoneNumber" class="text-danger">
                                {{ 'form.validation.telephone' | translate }}
                            </p>
                            <div *ngIf="key === 'familyName' || key === 'givenName'">
                                <p *ngIf="(user | async)?.language === 'ja' && profileForm.controls[key].errors?.customPattern"
                                    class="text-danger">
                                    {{ 'form.validation.fullKana' | translate }}</p>
                                <p *ngIf="(user | async)?.language !== 'ja' && profileForm.controls[key].errors?.customPattern"
                                    class="text-danger">
                                    {{ 'form.validation.lowercaseLetters' | translate }}</p>
                            </div>
                            <p *ngIf="profileForm.controls[key].errors?.pattern" class="text-danger">
                                {{ 'form.validation.pattern' | translate }}
                            </p>
                        </div>
                        <div *ngIf="key === 'email'">
                            <p class="mt-2 mb-1 text-small" [innerHTML]="'form.description.email' | translate"></p>
                            <button type="button" class="btn btn-primary btn-sm" (click)="copyDomain()">{{
                                'purchase.input.copyDomain' | translate }}</button>
                        </div>
                        <div *ngIf="key === 'telephone'">
                            <p class="mt-2 mb-1 text-small" [innerHTML]="'form.description.telephone' | translate"></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="mb-4" *ngIf="amount > 0">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.input.payment.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.input.payment.read' | translate"></p>

        <div class="p-3 bg-white">
            <div class="form-group row">
                <p class="col-md-4 py-2 py-md-3 text-md-right">{{ 'common.amount' | translate }}</p>
                <div class="col-md-8">
                    <p class="text-x-large text-info">{{ amount | currency : 'JPY'}}</p>
                </div>
            </div>
            <div class="mb-3">
                <form *ngIf="!usedCreditCard && creditCardForm" [formGroup]="creditCardForm">
                    <div class="form-group row">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardNumber' | translate }}<span
                                class="badge badge-danger ml-2">{{ 'form.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber"
                                [placeholder]="'form.placeholder.cardNumber' | translate" maxlength="16">
                            <div *ngIf="creditCardForm.controls.cardNumber.invalid && creditCardForm.controls.cardNumber.touched"
                                class="mt-2">
                                <p *ngIf="creditCardForm.controls.cardNumber.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                                <p *ngIf="creditCardForm.controls.cardNumber.errors?.pattern" class="text-danger">
                                    {{ 'form.validation.number' | translate }}
                                </p>
                            </div>
                            <p class="mt-2 mb-1 text-small" [innerHTML]="'form.description.cardNumber' | translate"></p>
                            <div class="credit-image"><img class="w-100" src="/assets/images/credit_card.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardExpiration' | translate }}<span
                                class="badge badge-danger ml-2">{{ 'form.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <div class="form-inline">
                                <select class="form-control d-inline-block w-auto" id="cardExpirationMonth"
                                    formControlName="cardExpirationMonth">
                                    <option *ngFor="let month of cardExpiration.month" [value]="month">{{ month }}
                                    </option>
                                </select>
                                <span class="mx-2">{{ 'common.date.month' | translate }}</span>
                                <select class="form-control d-inline-block w-auto" id="cardExpirationYear"
                                    formControlName="cardExpirationYear">
                                    <option *ngFor="let year of cardExpiration.year" [value]="year">{{ year }}</option>
                                </select>
                                <span class="mx-2">{{ 'common.date.year' | translate }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.securityCode' | translate }}<span
                                class="badge badge-danger ml-2">{{ 'form.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="securityCode" maxlength="4"
                                [placeholder]="'form.placeholder.securityCode' | translate"
                                formControlName="securityCode">
                            <div *ngIf="creditCardForm.controls.securityCode.invalid && creditCardForm.controls.securityCode.touched"
                                class="mt-2">
                                <p *ngIf="creditCardForm.controls.securityCode.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                            </div>
                            <div class="btn btn-link btn-sm" (click)="openSecurityCode()">
                                {{ 'purchase.input.securityCode' | translate }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.holderName' | translate }}<span
                                class="badge badge-danger ml-2">{{ 'form.required' | translate }}</span></p>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="holderName"
                                [placeholder]="'form.placeholder.holderName' | translate" formControlName="holderName">
                            <div *ngIf="creditCardForm.controls.holderName.invalid && creditCardForm.controls.holderName.touched"
                                class="mt-2">
                                <p *ngIf="creditCardForm.controls.holderName.errors?.required" class="text-danger">
                                    {{ 'form.validation.required' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="usedCreditCard" class="mb-3">
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardNumber' | translate }}</p>
                    <p class="col-md-8 py-2">{{ usedCreditCard.cardNo }}</p>
                </div>
                <div class="form-group row">
                    <p class="col-md-4 py-2 text-md-right">{{ 'common.credit.cardExpiration' | translate }}</p>
                    <p class="col-md-8 py-2">
                        {{ usedCreditCard.expire | slice:2:4 }}
                        <span class="mx-2">{{ 'common.date.month' | translate }}</span>
                        {{ usedCreditCard.expire | slice:0:2 }}
                        <span class="mx-2">{{ 'common.date.year' | translate }}</span>
                    </p>
                </div>
            </div>
            <div *ngIf="(user | async)?.creditCards.length > 0 && !usedCreditCard" class="buttons mx-auto">
                <button type="button" class="btn btn-outline-primary btn-block py-3" [disabled]="isLoading | async"
                    (click)="openRegisteredCreditCard()">{{ 'purchase.input.registeredCreditCard' | translate
                    }}</button>
            </div>
            <div *ngIf="usedCreditCard" class="buttons mx-auto">
                <button type="button" class="btn btn-outline-primary btn-block py-3"
                    (click)="changeInputCreditCard()">{{ 'purchase.input.inputCreditCard' | translate }}</button>
            </div>
        </div>
    </div>

    <div class="mb-4 p-3 bg-white">
        <h3 class="mb-2 font-weight-bold">{{ 'purchase.input.payment.note.label' | translate }}</h3>
        <p class="text-small" [innerHTML]="'purchase.input.payment.note.read' | translate"></p>
    </div>


    <div class="buttons mx-auto text-center">
        <button type="submit" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
            (click)="onSubmit()">{{ 'purchase.input.next' | translate }}</button>

        <div *ngIf="environment.VIEW_TYPE === viewType.Cinema">
            <button type="button" class="btn btn-outline-primary btn-block py-3" routerLink="/purchase/cinema/ticket">{{
                'purchase.input.prev' | translate }}</button>
        </div>
        <div *ngIf="environment.VIEW_TYPE === viewType.Event">
            <button type="button" class="btn btn-outline-primary btn-block py-3"
                routerLink="/purchase/event/schedule">{{ 'purchase.input.prev' | translate }}</button>
        </div>

    </div>

</div>