<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'inquiry.confirm.title' | translate }}</h2>
    <div *ngIf="(order | async)?.order.orderStatus === orderStatus.OrderReturned">
        <p class="mb-4 text-md-center" [innerHTML]="'inquiry.confirm.canceled' | translate"></p>
    </div>
    <div *ngIf="(order | async)?.order.orderStatus !== orderStatus.OrderReturned">
        <p class="mb-4 text-md-center" [innerHTML]="'inquiry.confirm.read' | translate"></p>
        <app-order-detail *ngIf="code" [order]="(order | async)?.order" [code]="code"></app-order-detail>
    </div>


    <div class="buttons mx-auto text-center">
        <div *ngIf="(order | async)?.order.orderStatus !== orderStatus.OrderReturned">
            <button *ngIf="environment.INQUIRY_PRINT"
                [disabled]="(order | async)?.order.orderStatus !== orderStatus.OrderDelivered" type="button"
                class="btn btn-primary btn-block py-3 mb-3" (click)="print()"
                [disabled]="isLoading | async">{{ 'inquiry.confirm.print' | translate }}</button>
            <button *ngIf="environment.INQUIRY_CANCEL"
                [disabled]="(order | async)?.order.orderStatus !== orderStatus.OrderDelivered" type="button"
                class="btn btn-danger btn-block py-3 mb-3"
                (click)="cancelConfirm()">{{ 'inquiry.confirm.cancel' | translate }}</button>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block py-3"
            routerLink="/inquiry/input">{{ 'inquiry.confirm.prev' | translate }}</button>
    </div>
</div>