<div class="contents-width mx-auto px-3 py-5">
    <div class="mb-4">
        <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'purchase.member.title' | translate }}</h2>
        <p class="mb-4 text-md-center" [innerHTML]="'purchase.member.read' | translate"></p>
    </div>

    <div class="buttons mx-auto text-center">
        <button *ngIf="!environment.PORTAL_SITE_URL" type="button" class="btn btn-outline-primary btn-block py-3"
            routerLink="/">{{ 'purchase.member.prev' | translate }}</button>
    </div>

</div>