<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'order.point.transfer.complete.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'order.point.transfer.complete.read' | translate"></p>


    <div class="buttons mx-auto text-center">
        <a *ngIf="environment.PORTAL_SITE_URL" class="btn btn-outline-primary btn-block py-3 portal-link"
            [href]="environment.PORTAL_SITE_URL">{{ 'order.point.transfer.complete.prev' | translate }}</a>
        <button *ngIf="!environment.PORTAL_SITE_URL" type="button" class="btn btn-outline-primary btn-block py-3"
            routerLink="/order/point/transfer/input">{{ 'order.point.transfer.complete.prev' | translate }}</button>
    </div>
</div>