<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'mypage.index.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'mypage.index.read' | translate"></p>

    <ul class="d-md-flex">
        <li class="my-md-2 mb-3">
            <div class="card mx-md-2 h-100">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ 'mypage.index.list.profile.title' | translate }}
                    </h5>
                    <p class="card-text mb-3">{{ 'mypage.index.list.profile.read' | translate }}</p>
                    <button type="button" routerLink="/mypage/profile"
                        class="btn btn-primary">{{ 'mypage.index.list.profile.next' | translate }}</button>
                </div>
            </div>
        </li>
        <li class="my-md-2 mb-3">
            <div class="card mx-md-2 h-100">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ 'mypage.index.list.credit.title' | translate }}
                    </h5>
                    <p class="card-text mb-3">{{ 'mypage.index.list.credit.read' | translate }}</p>
                    <button type="button" routerLink="/mypage/credit"
                        class="btn btn-primary">{{ 'mypage.index.list.credit.next' | translate }}</button>
                </div>
            </div>
        </li>
        <li class="my-md-2 mb-3">
            <div class="card mx-md-2 h-100">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ 'mypage.index.list.account.title' | translate }}
                    </h5>
                    <p class="card-text mb-3">{{ 'mypage.index.list.account.read' | translate }}</p>
                    <button type="button" routerLink="/mypage/account"
                        class="btn btn-primary">{{ 'mypage.index.list.account.next' | translate }}</button>
                </div>
            </div>
        </li>
    </ul>
</div>