<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'mypage.index.title' | translate }}</h2>
    <p class="mb-4 text-md-center" [innerHTML]="'mypage.index.read' | translate"></p>

    <div class="container px-0">
        <div class="row">
            <div class="col-md-4 col-12">
                <button type="button" routerLink="/mypage/profile"
                    class="btn btn-primary btn-block py-3 mb-3">
                    <span class="d-block mb-2">{{ 'mypage.index.profile' | translate }}</span>
                    <span class="d-block text-x-large"><i class="fas fa-user-circle"></i></span>
                </button>
            </div>
            <!-- <div class="col-md-4 col-12">
                <button type="button" routerLink="/mypage/credit"
                    class="btn btn-primary btn-block py-3 mb-3">
                    <span class="d-block mb-2">{{ 'mypage.index.credit' | translate }}</span>
                    <span class="d-block text-x-large"><i class="far fa-credit-card"></i></span>
                </button>
            </div> -->
            <div class="col-md-4 col-12">
                <button type="button" routerLink="/mypage/order"
                    class="btn btn-primary btn-block py-3 mb-3">
                    <span class="d-block mb-2">{{ 'mypage.index.order' | translate }}</span>
                    <span class="d-block text-x-large"><i class="fas fa-list"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>