<div class="contents-width mx-auto px-3 py-4">
    
    <h2 class="text-large mb-3 text-center"><strong>券種選択</strong></h2>
    <p class="mb-3">券種を選択してください。</p>

    <div *ngIf="(purchase | async).isUsedMovieTicket" class="mb-4">
        <div class="bg-light-gray p-3 d-md-flex align-items-center movieticket">
            <p class="mb-2 mb-md-0">ムビチケ券を利用される方</p>
            <div>
                <button type="button" (click)="openMovieTicket()" class="btn btn-block bg-white border border-gray">
                    <img src="/assets/images/mvtk.svg" height="24">
                </button>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div *ngFor="let reservation of (purchase | async).reservations" class="bg-light-gray p-3 mb-3 d-flex align-items-center">
            <div class="w-50">
                <span class="mr-3">座席</span>{{ reservation.seat.seatNumber }}
            </div>
            <div class="w-50">
                <button *ngIf="reservation.ticket === undefined" type="button" (click)="openTicketList(reservation)"
                    class="btn btn-primary btn-block">券種を選択してください</button>
                <button *ngIf="reservation.ticket !== undefined" type="button" (click)="openTicketList(reservation)"
                    class="btn btn-block bg-white border-dark-gray text-dark-gray">{{
                    reservation.ticket.ticketOffer.name.ja }} {{
                    reservation.getTicketPrice().single | currency : 'JPY' }}</button>
            </div>
        </div>
    </div>

    <app-purchase-info class="mb-4" [purchase]="purchase | async"></app-purchase-info>

    <div class="buttons mx-auto px-3">
        <button type="button" class="btn btn-primary btn-block py-2 mb-2" [disabled]="isLoading | async" (click)="onSubmit()">次へ</button>
        <button type="button" class="btn btn-outline-primary btn-block py-2" routerLink="/purchase/seat">座席選択へ戻る</button>
    </div>


</div>