<div class="p-3 scroll-vertical">
    <div class="mb-3 text-large text-center">{{ 'modal.chargeAccount.title' | translate }}</div>
    <p class="mb-3">{{ 'modal.chargeAccount.read' | translate }}</p>

    <div class="mb-4 p-3 bg-white">
        <form *ngIf="chargeAccountForm" [formGroup]="chargeAccountForm">
            <div class="form-group">
                <p class="mb-2">{{ 'modal.chargeAccount.amount' | translate }}</p>
                <input type="number" class="form-control" id="charge" formControlName="amount" placeholder="0"
                    maxlength="5">
                <div *ngIf="chargeAccountForm.controls.amount.invalid && chargeAccountForm.controls.amount.touched"
                    class="mt-2">
                    <p *ngIf="chargeAccountForm.controls.charge.errors.required" class="text-danger">
                        {{ 'form.validation.required' | translate }}</p>
                    <p *ngIf="chargeAccountForm.controls.charge.errors.pattern" class="text-danger">
                        {{ 'form.validation.number' | translate }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <p class="mb-2">{{ 'modal.chargeAccount.creditCard' | translate }}</p>
                <button type="button" *ngFor="let creditCard of creditCards" class="btn btn-block text-left mb-3 creditCard"
                    [class.btn-outline-primary]="chargeAccountForm.controls.cregitCard.value !== creditCard"
                    [class.btn-primary]="chargeAccountForm.controls.cregitCard.value === creditCard"
                    (click)="selectCreditCard(creditCard)">
                    <div class="mb-3">
                        <p class="text-small">{{ 'common.credit.cardNumber' | translate }}</p>
                        <p>{{ creditCard.cardNo }}</p>
                    </div>
                    <div>
                        <p class="text-small">{{ 'common.credit.cardExpiration' | translate }}</p>
                        <p>{{ creditCard.expire | slice:2:4 }} / {{ creditCard.expire | slice:0:2 }}</p>
                    </div>
                </button>
            </div>
        </form>
    </div>

    <div class="buttons mx-auto text-center">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" (click)="close()"
            [disabled]="chargeAccountForm.invalid">{{ 'modal.chargeAccount.next' | translate }}</button>
        <button type="button" class="btn btn-link btn-sm"
            (click)="modal.hide()">{{ 'common.close' | translate }}</button>
    </div>
</div>