<div class="contents-width mx-auto px-3 py-5">
    <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'setting.title' | translate }}</h2>
    <p class="mb-4">{{ 'setting.read' | translate }}</p>

    <div class="mb-4 p-3 bg-light-gray">
        <form [formGroup]="baseForm">
            <div class="form-group">
                <div class="row">
                    <p class="col-md-4 py-2 text-md-right"> {{ 'setting.limitedPurchaseCount' | translate }}
                    </p>
                    <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="limitedPurchaseCount"
                            id="limitedPurchaseCount" placeholder="">
                        <div *ngIf="baseForm.controls.limitedPurchaseCount.invalid && baseForm.controls.limitedPurchaseCount.touched"
                            class="mt-2">
                            <p *ngIf="baseForm.controls.limitedPurchaseCount.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                            <p *ngIf="baseForm.controls.limitedPurchaseCount.errors.pattern" class="text-danger">
                                {{ 'form.validation.number' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-0">
                <div class="row">
                    <p class="col-md-4 py-2 text-md-right"> {{ 'setting.viewType' | translate }}</p>
                    <div class="col-md-8">
                        <select class="form-control" id="viewType" formControlName="viewType">
                            <option [value]="viewType.Cinema">{{ viewType.Cinema }}</option>
                            <option [value]="viewType.Event">{{ viewType.Event }}</option>
                        </select>
                        <div *ngIf="baseForm.controls.viewType.invalid && baseForm.controls.viewType.touched"
                            class="mt-2">
                            <p *ngIf="baseForm.controls.viewType.errors.required" class="text-danger">
                                {{ 'form.validation.required' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="buttons mx-auto">
        <button type="button" class="btn btn-primary btn-block py-3 mb-3" [disabled]="isLoading | async"
            (click)="updateBase()">{{ 'setting.next' | translate }}</button>
        <button type="button" class="btn btn-outline-primary btn-block py-3"
            [routerLink]="environment.BASE_URL">{{ 'setting.prev' | translate }}</button>
    </div>

</div>