<div class="cover" [class.active]="isOpen" (tap)="close.emit()"></div>

<div class="menu text-white bg-dark-gray" [class.active]="isOpen">
    <ul *ngIf="(user | async)?.isMember">
        <li *ngIf="isVisible('purchase')" class="p-3 border-bottom pointer" routerLink="/purchase/root" (tap)="close.emit()"><i class="fas fa-shopping-cart mr-2"></i>{{ 'menu.purchase' | translate }}</li>
        <li *ngIf="isVisible('inquiry')" class="p-3 border-bottom pointer" routerLink="/inquiry/input" (tap)="close.emit()"><i class="fas fa-search mr-2"></i>{{ 'menu.inquiry' | translate }}</li>
        <li *ngIf="isVisible('order')" class="p-3 border-bottom pointer" routerLink="/order/search" (tap)="close.emit()"><i class="far fa-list-alt mr-2"></i>{{ 'menu.orderSearch' | translate }}</li>
        <li *ngIf="isVisible('mypage')" class="p-3 border-bottom pointer" routerLink="/mypage" (tap)="close.emit()"><i class="fas fa-user-circle mr-2"></i>{{ 'menu.mypage' | translate }}</li>
        <li *ngIf="isVisible('setting')" class="p-3 border-bottom pointer" routerLink="/setting" (tap)="close.emit()"><i class="fas fa-cog mr-2"></i>{{ 'menu.settings' | translate }}</li>
        <li *ngIf="isVisible('auth')" class="p-3 border-bottom pointer" (tap)="signOut()"><i class="fas fa-sign-out-alt mr-2"></i>{{ 'menu.logout' | translate }}</li>
    </ul>
    <ul *ngIf="!(user | async)?.isMember">
        <li *ngIf="isVisible('purchase')" class="p-3 border-bottom pointer" routerLink="/purchase/root" (tap)="close.emit()"><i class="fas fa-shopping-cart mr-2"></i>{{ 'menu.purchase' | translate }}</li>
        <li *ngIf="isVisible('inquiry')" class="p-3 border-bottom pointer" routerLink="/inquiry/input" (tap)="close.emit()"><i class="fas fa-search mr-2"></i>{{ 'menu.inquiry' | translate }}</li>
        <li *ngIf="isVisible('setting')" class="p-3 border-bottom pointer" routerLink="/setting" (tap)="close.emit()"><i class="fas fa-cog mr-2"></i>{{ 'menu.settings' | translate }}</li>
        <li *ngIf="isVisible('auth')" class="p-3 border-bottom pointer" (tap)="signIn()"><i class="fas fa-sign-in-alt mr-2"></i>{{ 'menu.login' | translate }}</li>
    </ul>
</div>